:root {
	--col_1: black;
	--col_2: white;
	--col_3: #3B05FF;
	--col_4: #FE9947;

	--header_height: 130px;

	--font_h1: 64px;
	--font_h2: 40px;
	--font_p: 17px;
	--font-family:  Instrument Sans, Arial, sans serif;}
* {
	margin: 0px;
	padding: 0px;
	font-family: var(--font-family);
}
header {
	background-color: var(--col_1);
	color: var(--col_2);
	width: 100%;
	position: fixed;
}
#top-bar {
	height: var(--header_height);
	display: flex;
	justify-content: space-between;
	align-items: center;

	#logo {
		max-width: 130px;
		height: auto;
		padding: 15px;
		box-sizing: border-box;
		img {
			background-color: var(--col_3);
			border-radius: 50%;
			border-color: var(--col_2);
			border-width: 5px;
			border-style: solid;
			box-sizing: border-box;
			width: 100%;
			height:  100%;
		}
	}


	nav {
		width: 400px;
	}
	
	ul {
		font-size:var(--font_p);
		display: flex;
		align-items: center;
		justify-content: space-between;
		li {
			min-width: 33.3%;
			display: flex;
			align-items: center;
		justify-content: center;
			text-align: center;
			
			height: auto;
			list-style-type: None;
		}
	}
}

main {
	padding-top: var(--header_height);
	font-size: var(--font_h1);
}
