:root {
	--col_1: black;
	--col_2: white;
	--col_3: #3B05FF;
	--col_4: #FE9947;

	--header_height: 10vh;

	--font_h1: 64px;
	--font_h2: 40px;
	--font_p: 17px;
	--font-family: Instrument Sans, Arial, sans serif;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: var(--font-family);
	color: var(--col_2);
}

p {
	font-size: var(--font_p);
}

h1 {
	font-size: var(--font_h1);
}

h2 {
	font-size: var(--font_h2);
}

a {
	all: unset;
	cursor: pointer;
}

button {
	all: unset;
}

button:focus {
	outline: revert;
}

header {
	background-color: var(--col_1);
	width: 100%;
	position: fixed;
}

#top-bar {
	height: var(--header_height);
	display: flex;
	justify-content: space-between;
	align-items: center;

	#logo {
		max-width: 130px;
		height: calc(0.95 * var(--header_height));
		padding: calc(0.1 * var(--header_height));
		box-sizing: border-box;

		img {
			background-color: var(--col_3);
			border-radius: 50%;
			border-color: var(--col_2);
			border-width: 5px;
			border-style: solid;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
		}
	}


	nav {
		width: 400px;
	}

	ul {
		font-size: var(--font_p);
		display: flex;
		align-items: center;
		justify-content: space-between;

		li {
			min-width: 33.3%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;

			height: auto;
			list-style-type: None;
		}
	}
}

main {
	padding-top: var(--header_height);
	font-size: var(--font_h1);
	scroll-snap-type: mandatory;

	.page {
		scroll-snap-align: start;
		/* width: 100%; */
		min-height: 90vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		div {
			min-height: 90vh;
		}
	}


	#hero {
		background: radial-gradient(circle 100vh at center bottom, var(--col_4), var(--col_3));

		div {
			width: 49%;
		}

		#img_container {
			min-width: 500px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 75%;
				border-radius: 50%;
				align-items: center;
			}
		}

		#greetings_container {
			max-width: 800px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 30px;

			p,
			h1 {
				text-shadow: 0px 4px 4px black;
			}
		}
	}

	#projects {
		background: radial-gradient(circle 100vh at center top, var(--col_4), var(--col_3));

		div {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			border: 1px solid #000;
		}

		#projects_title {
			min-width: 350px;
			width: 30%;
			text-shadow: 0px 4px 4px black;
		}

		#projects_listing {
			width: 69%;
			flex-wrap: wrap;
			gap: 20px;

			.project {
				background-color: var(--col_1);
				border-radius: 20px;
				width: 45%;
				height: 45%;
				min-width: 400px;
				min-height: 400px;
				transition: transform 1s;
				cursor: pointer;
			}

			.project:hover {

				transform: scale(1.05);
			}
		}

	}



}
